params {
  result_dir = "./results"
  adapter = "/home/etudiant/fatemeh/hbv_pipeline/primer/HBV_primer.fasta"
  ref_genome = "/home/etudiant/fatemeh/hbv_pipeline/Ref/sequence.fasta"

  fastq_qc_script = "/home/etudiant/fatemeh/stage_fatemeh_2025/tools/Python/parse_fastq/src/parse_fastq/main.py"
  bam_qc_script   = "/home/etudiant/fatemeh/stage_fatemeh_2025/tools/Python/parse_read_align/src/parse_read_align/main.py"

  variant_qc_script = "/home/etudiant/fatemeh/stage_fatemeh_2025/tools/Python/parse_variant/src/parse_variant/main.py"

  min_len  = 150
  max_len  = 1200
  min_qual = 10
  cpu      = 4



}


